@import "tailwindcss";

@theme {
  --font-sans: "Outfit", "sans-serif";
}

.hero-background {
  background-image: url("https://t4.ftcdn.net/jpg/02/69/47/51/360_F_269475198_k41qahrZ1j4RK1sarncMiFHpcmE2qllQ.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
